<p>Enter a name.</p>

<form action="/results" method="get">
  <label for="adjective">Name:</label>
  <input id="name" type="text" placeholder="Tim" name="name">
  
  <p>Enter an adjective. </p>
<label for="adjective">Adjective:</label>
<input id="adjective" type="text" placeholder="funny" name="adjective">
  

  <p>Enter a plural noun. </p>
<label for="pluralnoun">Plural Noun:</label>
<input id="pluralnoun" type="text" placeholder="cats" name="pluralnoun">
  
    <p>Enter a verb. </p>
<label for="verb">Verb:</label>
<input id="verb" type="text" placeholder="smile" name="verb">
  
      <p>Enter the singular of the plural noun you entered. </p>
<label for="singularnoun">Singular Noun:</label>
<input id="singularnoun" type="text" placeholder="cat" name="singularnoun">
  
        <p>Enter a female name. </p>
<label for="femalename">Female Name:</label>
<input id="femalename" type="text" placeholder="Hedy" name="femalename">

    <p>Enter another adjective. </p>
<label for="adjective2">Adjective:</label>
<input id="adjective2" type="text" placeholder="weird" name="adjective2">
  
  <input type="submit">
</form>